<!doctype html>
<html lang="en-US" class="spectrum spectrum--medium spectrum--light" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>título</title>

<body >
<div class="boxes">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit perferendis, aliquam porro assumenda dignissimos inventore dolores esse repudiandae distinctio sequi consequatur qui vero accusamus perspiciatis quibusdam dolor tempore non! Unde.
  <div class="button">
    button
  </div>

</div>

</body>
</html>