
@use 'sass:map';

$boxes: () !default;

$_boxes: (
    main:(
        background-color: rgb(243, 187, 3),
        border: 4px solid blue
    )
) !default;

$boxes: map.deep-merge($boxes, $_boxes );

.boxes{
    padding: 1rem;
    background-color: map-get($boxes, main, background-color );
    border: map-get($boxes, main, border );
}

