@use 'sass:map';


$button: () !default;

$_button: (
    main:(
        background-color: rgb(172, 157, 72),
        border: 3px solid black,
        color: rgb(148, 148, 148)
    )
) !default;

$button: map.deep-merge($button,$_button );

.button{
    margin: .5rem 0;
    padding: .5rem;
    background-color: map-get($button, main, background-color );
    border: map-get($button, main, border );
    color: map-get($button, main, color );
}

