// global color variables

:root{
    --color-black-one: rgb(48, 48, 48);
    --color-black-two: rgb(70, 70, 70);
    --color-gray-one: rgb(214, 214, 214);
    --color-gray-two: rgb(175, 175, 175);
    --color-white-one: rgb(255, 255, 255);

    --color-feedback: #EEEE8F;
    --color-failure: #D3A9B1;
    --color-info: #A9CCD3;
    --color-success:#B1C79D;

    --color-button: #0192d0;
    --color-button-disabled:  #b9e1f1;
}


