body{
    background-color: white;
    font-family: var(--primary-font);
}

.a-main-container {
    position: relative;
    padding: 0 1rem;
    margin-left: var(--menu-sidebar-open, 300px);
    @include trasitionAction();
    .m-menu-sidebar--closed &{
        margin-left:var(--menu-sidebar-closed, 50px);
        overflow: hidden;
    }
}
