@use '../settings/mixins';

body{
    background-color: white;
    font-family: var(--font-primary);
}

.a-main-container {
    position: relative;
    padding: 0 1rem;
    margin-left: var(--menu-sidebar-open, 300px);
    @include mixins.trasitionAction();
   
}
