<div class="base-container ">
    <div class="menu-header">
        <ul class="menu-header__list">
            <li>Home</li>
            <li>Contact</li>
        </ul>   
    </div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi impedit deserunt praesentium repellendus possimus sit cumque at quaerat suscipit, voluptas minus asperiores, ipsum amet, provident recusandae aliquam cupiditate. Illum, facilis.
</div>