<div class="m-feedback">
    <p class="m-feedback__txt">This is a general notification.</p>
</div>
<div class="m-feedback m-feedback--failure">
    <p class="m-feedback__txt">This is a general notification.</p>
</div>
<div class="m-feedback m-feedback--info">
    <p class="m-feedback__txt">This is a general notification.</p>
</div>
<div class="m-feedback m-feedback--success">
    <p class="m-feedback__txt">This is a general notification.</p>
</div>