@use 'sass:map';

$ue-c-card-vars: () !default;

$_ue-c-card-vars: (
    desktop: ( 
        element: ( 
            background-color: gold,
            border: 2px solid black
        ),
    )
)!default;

$ue-c-card-vars: map.deep-merge($_ue-c-card-vars,$ue-c-card-vars );

@mixin ue-c-card{
    .ue-c-card{
        width: 200px;
        height: 200px;
        background-color: map.get($ue-c-card-vars, desktop, element, background-color) ;
        border:map.get($ue-c-card-vars, desktop, element, border) ;
    }
}